h1,
h2,
h3,
h4,
h5 {
    color: #333;
}

p,
label {
    color: #444;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

input[type="text"],
input[type="number"],
input[type="file"], 
input[type="date"],
textarea {
    width: 400px;
}

textarea {
    padding: 10px 5px;
}

/* page header */
.header {
    padding: 20px;
    height: 160px;
    background-color: #673ab7;
}

.header h3 {
    color: #fff;
    margin-top: 0;
}

/* form container */
.form-container {
    background-color: #fdfdfd;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -62px;
}